*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: black;
    color: white;
}

header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;

}

nav{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    flex-wrap: wrap;
}

.logo{
    width: 40px;
}

nav ul li{
    display: inline-block; /* horizontal*/
    list-style: none;
    margin: 10px 20px;
    position: relative;
}

nav ul li a{
    color: turquoise;
    text-decoration: none;
    font-size: 18px;
    border: 1px solid gray ;
    border-radius: 5px;
    padding: 5px 5px;
}

nav ul li a::after{
    content: '';
    width: 0; /*need hover*/
    height: 3px;
    background: turquoise;
    position: absolute;
    left: 0;
    bottom: -6px;

}

nav ul li a:hover::after{
    width: 100%;
}

.statement{
    margin-right: 550px;
    font-weight: 100;
    font-size: 15px;
    font-style: oblique;
}

.statement a img{
    width: 35px;
}

.header-text{
    margin-top: 20%;
    font-size: 20px;
}

.header-text h2{
    font-size: 40px ;
    margin-top: 40px;
    font-weight: 100;
    color: white;
    
}

.header-text h1{
    margin-top: 0;
    font-size: 60px ;
    color: turquoise;
}


.spacing{
    padding: 80px 0;
    
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-one{
    flex-basis:50%; 
}

.about-one img{
    width: 100%;
    
}

.about-two{
    margin-top: 80px;
    flex-basis: 50%;
}

.about-two h1{
    font-weight: 600;
    padding: 10px 0;
}
.about-two h1 span{
    color: turquoise;
}

.about-two p{
    color: gainsboro;
    font-style: oblique;
    font-size: 15px;
    margin-top: 50px;
}

#hire-btn{
    margin-top: 50px;
}

.about-two button a{
    text-decoration: none;
    color: turquoise;
}

.about-two button a:visited{
    color: turquoise;
}


.header-exp{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 600;
}

.experiences{

    padding: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.btn-color{
    background-color: black;
    color: turquoise;
    padding: 10px 20px;
}

.title{
    color: turquoise;

}

.page-gray{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(images/gray.png);
}

.page{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.header-work{
   padding: 50px;
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 600;
}

.text-center img{
    margin-right: 10px;
    margin-top: 50px;
}

.details{
    flex-basis: 30%;
   margin-top: 120px;
}

.details img{
    width: 25px;
}

.details h4{
    color: turquoise;
    font-weight: 600;
}

.details p{
    color: gainsboro;
}

.contact{
    flex-basis: 60%;
    margin-top: 120px;

}

.header-contact{
    text-align: center;
    font-weight: 600;
    font-size: 50px;
}

footer{
    background-color: turquoise;
    color: black;
    text-align: center;
    font-weight: 700;
    padding: 20px;
}








